@page
@model NHSWebApp.Pages.CovidModel
@{
    ViewData["Title"] = "COVID-19";
}
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="~/js/site.js"></script>
    </head>
<h1 id="covidtitle">Coronavirus/COVID-19</h1>
<script type="text/javascript"> // Calls the API using jQuery
    $(function () { 
        var pageUrl = "https://api.nhs.uk/conditions/coronavirus-covid-19?url=NHSWebApp&modules=false";
        $.ajax({
            type: 'GET',
            url: pageUrl,
            headers: {
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            success: function (data) {
                $('.covidsymptoms').append(data.hasPart[0].text) //Retrieves symptoms text & appends to a div
                $('.covidtreatment').append(data.hasPart[2].text) //Retrieves treatment text & appends to a div
                var covidate = data.dateModified; //Retrieves the date modified
                var newDate = new Date(covidate); //Formats the date from a JSON format
                $('.lastupdated').append(newDate) //Appends date to a div
            }
        });
    });
</script>

<body>
    <h2 id="cv19symptomshead">What are the symptoms of COVID-19?</h2>
    <div class="covidsymptoms" id="symptomscontent"></div>
    <br />
    <br />
    <h2 id="cv19treathead">How to treat COVID-19?</h2>
    <div class="covidtreatment" id="covidtreatment"></div>
    <div class="lastupdated"></div>
    <button id="increasefont" onclick="increaseFont()" class="btn btn-primary">Increase font size</button>
    <button id="decreasefont" onclick="restoreFontSize()" class="btn btn-primary">Original font size</button>
    <h7 id="lastupdatedtext">Information Last Updated: </h7>
</body>