@page
@model NHSWebApp.Pages.CovidModel
@{
    ViewData["Title"] = "COVID-19";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<h1 id="covidtitle">Coronavirus/COVID-19</h1>
<script type="text/javascript">
    $(function () {
        var pageUrl = "https://api.nhs.uk/conditions/coronavirus-covid-19?url=NHSWebApp&modules=false";
        $.ajax({
            type: 'GET',
            url: pageUrl,
            headers: {
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            success: function (data) {
                $('.covidsymptoms').append(data.hasPart[0].text)
                $('.covidtreatment').append(data.hasPart[2].text)
                var covidate = data.dateModified;
                var newDate = new Date(covidate);
                $('.lastupdated').append(newDate)
                console.log(data);
            }
        });
    });
</script>

<body>
    <h2 id="cv19symptomshead">What are the symptoms of COVID-19?</h2>
    <div class="covidsymptoms"></div>
    <br />
    <br />
    <h2 id="cv19treathead">How to treat COVID-19?</h2>
    <div class="covidtreatment"></div>
    <div class="lastupdated"></div>
    <h7 id="lastupdatedtext">Information Last Updated: </h7>
</body>