@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>


<body>
    <div class="indextextwrapper">
        <h1>
            Welcome to the Conditions Web App
        </h1>
        <h2>
            Enter a condition below and press Submit to learn about its symptoms!
        </h2>
    </div>
    <button id="increasefont" onclick="increaseFont()" class="btn btn-primary">Increase font size</button>
    <button id="decreasefont" onclick="restoreFontSize()" class="btn btn-primary">Original font size</button>
    <br />
    <input id="userinput" />
    <br />
    <button id="inputbutton" type="submit" class="btn btn-primary" >Submit</button>
    <br />
    <button id="resetbutton" type="reset" class="btn btn-primary">Reset Content</button>
    <br />
    <div class="jsonresult" id="symptomscontent"></div>
</body>


<script type="text/javascript">
    $(document).ready(function () {
        $("#inputbutton").click(function () {
            var name = $.trim($('#userinput').val());
            if (name === '') {
                alert('Text field is empty');
                return false;
            }
            else
            {
            var userInput = document.getElementById("userinput").value;
            var pageUrl = "https://api.nhs.uk/conditions/";
            var pageURLComplete = pageUrl.concat(userInput);
            var subscriptionkey = "58ceba1b9c0749ab823ab64db4676835";
            $.ajax({
                type: 'GET',
                url: pageURLComplete,
                headers:
                {
                    'subscription-key': subscriptionkey,
                    'Content-Type': 'application/json'
                },
                dataType: 'json',
                success: function (data) {
                    $('.jsonresult').append(data.hasPart[1].text)//This bit displays it upon button press
                    console.log(data);
                }
            });
           }
        });
    });

    $("#resetbutton").click(function () {
        $(".jsonresult").empty();
    });
</script>