@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <h1>
        Welcome to the Conditions Web App
    </h1>
    <h2>
        Please enter a condition below and press Submit to learn about its symptoms!
    </h2>

    <input id="userinput" />
    <input type="button" value="Submit" id="inputbutton" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#inputbutton").click(function () {
                var userInput = document.getElementById("userinput").value;
                var pageUrl = "https://api.nhs.uk/conditions/";
                var pageURLComplete = pageUrl.concat(userInput);
                var subscriptionkey = "a76e7e0f594f4457bbcfaf981eb295be";
                $.ajax({
                    type: 'GET',
                    url: pageURLComplete,
                    headers:
                    {
                        'subscription-key': subscriptionkey,
                        'Content-Type': 'application/json'
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('.jsonresult').append(data.hasPart[1].text)//This bit displays it upon button press
                        //console.log(data);
                    }
                });
            });
        });
    </script>
    <div class="jsonresult"></div>
</body>