@page
@model PrescriptionModel
@{
    ViewData["Title"] = "Email a Prescription";
}
@using Microsoft.AspNetCore.Identity
@using NCCWebApp.Models
@inject UserManager<ApplicationUser> UserManager

<h1>@ViewData["Title"]</h1>
<h2>
    Your Condition: @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Condition
</h2>
